.overlay .card{
	margin: 10%;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.747);
	border-radius: 10px;
}
.overlay button{
	background: none;
	border: none;
	border-radius: 5px;
	font-size: 17px;
	color: black;
	cursor: pointer;
	padding: 15px;
}
.button-reservar{
	background-color: black !important;
	color:white !important;
	padding: 5px !important;
	border: none !important;
}